################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/golceva1/v15
/.vs/golceva1/DesignTimeBuild/.dtbcache
